<h5>Área administrador</h5>
<div class="d-grid gap-2 col-6">
<a class="nav-link" href="/users/users"><button class="btn btn-success mt-2">Usuários</button></a>
<a class="nav-link" href="/admin/customers"><button class="btn btn-success mt-2">Clientes</button></a>
<a class="nav-link" href="/admin/dashboards"><button class="btn btn-success mt-2">Dashboards</button></a>
</div>
