<footer>
    <div class="row">
        <div class="col-12 text-end">
            <p>© Célula DataViz, <a style="color: inherit;" href="https://just.bi/?utm_source=datahub&utm_medium=footer"
                    target="_blank" rel="noopener noreferrer">Just a Little Data</a> 2023. <svg
                    xmlns="http://www.w3.org/2000/svg" width="25" height="33" viewBox="0 0 25 33" fill="none">
                    <path d="M1.21905 31.9032L23.7116 1.00011" stroke="url(#paint0_linear_4198_105)"
                        stroke-miterlimit="10" stroke-linecap="round" />
                    <defs>
                        <linearGradient id="paint0_linear_4198_105" x1="28.0165" y1="12.286" x2="-3.08567" y2="20.6198"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#EF1183" />
                            <stop offset="0.3353" stop-color="#ED1182" />
                            <stop offset="0.4739" stop-color="#E6107E" />
                            <stop offset="0.5763" stop-color="#DA0F77" />
                            <stop offset="0.6609" stop-color="#C80E6E" />
                            <stop offset="0.7344" stop-color="#B10D61" />
                            <stop offset="0.8002" stop-color="#950B52" />
                            <stop offset="0.8604" stop-color="#73083F" />
                            <stop offset="0.9161" stop-color="#4C052A" />
                            <stop offset="0.9662" stop-color="#210212" />
                            <stop offset="1" />
                        </linearGradient>
                    </defs>
                </svg> Todos os direitos reservados.</p>
        </div>
    </div>
</footer>