<style>
  @import url(https://fonts.googleapis.com/css2?family=Anton&family=K2D:wght@500&display=swap);

  /* Estilos personalizados para o menu lateral */
  .sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: #F2F1EF;
    padding: 20px 16px 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar img {
    width: 80%;
    display: block;
    margin-bottom: 50px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 15px;
    text-align: left;
  }

  .sidebar li a {
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .sidebar li a .txt-menu,
  .txt-logout {
    margin-left: 10px;
  }

  .sidebar li a:hover {}

  .active {
    border-radius: 4px;
    background: var(--just-colors-005, #84FFDE);
  }

  .header-bar {
    background: #F2F1EF;
    height: 110px;
    padding: 20px 20px 0px 322px;

  }

  body {
    overflow-x: hidden;
  }

  .nav-link-logout {
    text-decoration: none;
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
  }

  .logout {
    text-align: left;
    margin-top: 90%;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .search {
    position: relative;

  }

  .search input {

    border-radius: 0;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.20);
    background: var(--just-colors-010, #FBFAF7);


  }

  .search .fa-search {

    position: absolute;
    top: 15px;
    left: 16px;

  }

  .col-search-input {
    padding-left: 0;
  }

  .btn-navbar {
    display: flex;
    width: 155px;
    height: 58px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--just-colors-010, #FBFAF7);
    color: #757474;
    font-family: K2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .btn-navbar:hover {
    color: #757474;
    text-decoration: none;
    border-radius: 4px;
    background: var(--just-colors-010, #FBFAF7);
  }

  a.txt-btn-navbar {
    text-decoration: none;
  }

  .collapsed {
    width: 80px;
    padding-left: 10px;
    /* Largura quando recolhida */
    /* Outros estilos de recolhimento, como ocultar texto ou ícones, ajuste conforme necessário */
  }

  .collapsed ul li .txt-menu {
    display: none;
  }

  .header-bar-expand {
    padding-left: 110px;
  }

  .mainContainer-expand {
    padding-left: 130px !important;
  }

  .btnCollapse{
    border-radius: 80px;
  }

  /* Estilo para a div que envolve o botão de expandir/recolher */
#sidebar .btnCollapse {
  text-align: right;
  position: absolute;
  bottom: 10px;
  width: 100%;
  right: -15px;
}

/* Estilo para o botão de expandir/recolher */
#sidebar .btnCollapse button {
  margin: 0;
  padding: 10px 10px; /* Ajuste o espaçamento interno conforme necessário */
  border-radius: 50px;
}

/* Estilo para o botão de expandir/recolher quando a barra estiver recolhida */
#sidebar.collapsed .btnCollapse {
  text-align: center; /* Centralize o botão quando a barra estiver recolhida */
  right: -40px;
}
</style>


<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <a href="/"><img src="/img/compact-negative-signature.svg" alt="Logo Just" id="logo-just"></a>
  <ul>
    <li class="item-menu item-menu-ativo">
      <a href="/">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
          </svg></span>
        <span class="txt-menu">Home</span>
      </a>
    </li>
    <li class="item-menu">
      <a href="/admin/dashboards">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
            <path
              d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
          </svg></span>
        <span class="txt-menu">Dashboards</span>
      </a>
    </li>
    <li class="item-menu">
      <a href="/projects">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-folder-fill" viewBox="0 0 16 16">
            <path
              d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
          </svg></span>
        <span class="txt-menu">Projetos</span>
      </a>
    </li>
    {{#ifAdmin user.typ_user}}
    <li class="item-menu">
      <a href="/customers/customers">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-people-fill" viewBox="0 0 16 16">
            <path
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
          </svg></span>
        <span class="txt-menu">Clientes</span>
      </a>
    </li> 
    <li class="item-menu">
      <a href="/users/users">
        <svg height="24" width="24" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 248.349 248.349" xml:space="preserve">
<g>
	<g>
		<path style="fill:#010002;" d="M9.954,241.305h228.441c3.051,0,5.896-1.246,7.805-3.416c1.659-1.882,2.393-4.27,2.078-6.723
			c-5.357-41.734-31.019-76.511-66.15-95.053c-14.849,14.849-35.348,24.046-57.953,24.046s-43.105-9.197-57.953-24.046
			C31.09,154.65,5.423,189.432,0.071,231.166c-0.315,2.453,0.424,4.846,2.078,6.723C4.058,240.059,6.903,241.305,9.954,241.305z"/>
		<path style="fill:#010002;" d="M72.699,127.09c1.333,1.398,2.725,2.73,4.166,4.019c12.586,11.259,29.137,18.166,47.309,18.166
			s34.723-6.913,47.309-18.166c1.441-1.289,2.834-2.622,4.166-4.019c1.327-1.398,2.622-2.828,3.84-4.329
			c9.861-12.211,15.8-27.717,15.8-44.6c0-39.216-31.906-71.116-71.116-71.116S53.059,38.95,53.059,78.16
			c0,16.883,5.939,32.39,15.8,44.6C70.072,124.262,71.366,125.687,72.699,127.09z"/>
	</g>
</g>
</svg></span>
        <span class="txt-menu">Usuários</span>
      </a>
    </li>    
    {{/ifAdmin}}
    <li class="item-menu">
      <a href="#">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-bookmark-fill" viewBox="0 0 16 16">
            <path
              d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z" />
          </svg></span>
        <span class="txt-menu">FAQ</span>
      </a>
    </li>
  </ul>
  <div class="btnCollapse">
    <button id="sidebarCollapse">&lt;</button>
  </div>
</nav>

<div class="row header-bar" id="header-bar">
  <div class="col-4 col-search-input">
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="fa-search" viewBox="0 0 32 32" fill="none">
        <path
          d="M28 27.9998L22.2093 22.2091M22.2093 22.2091C23.1999 21.2186 23.9856 20.0427 24.5216 18.7485C25.0577 17.4543 25.3336 16.0673 25.3336 14.6665C25.3336 13.2657 25.0577 11.8786 24.5216 10.5844C23.9856 9.29022 23.1999 8.1143 22.2093 7.12379C21.2188 6.13327 20.0429 5.34755 18.7487 4.81148C17.4546 4.27542 16.0675 3.99951 14.6667 3.99951C13.2659 3.99951 11.8788 4.27542 10.5846 4.81148C9.29043 5.34755 8.11452 6.13327 7.124 7.12379C5.12356 9.12423 3.99973 11.8374 3.99973 14.6665C3.99973 17.4955 5.12356 20.2087 7.124 22.2091C9.12444 24.2096 11.8376 25.3334 14.6667 25.3334C17.4957 25.3334 20.2089 24.2096 22.2093 22.2091Z"
          stroke="#757474" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  <div class="col-2">
    {{#ifAdmin user.typ_user}}
    <a class="txt-btn-navbar" href="/admin/dashboards/add"><button class="btn btn-navbar">+ Add Dash</button></a>
    {{/ifAdmin}}
  </div>
  <div class="col-2">
    {{#ifAdmin user.typ_user}}
    <a class="txt-btn-navbar" href="/projects/add"><button class="btn btn-navbar">+ Add Projeto</button></a>
    {{/ifAdmin}}
  </div>
  <div class="col-4" style="text-align: right;">
    <p>Bem vindo(a), <strong>{{user.name_user}}</strong></p>
    <div class="">
      <a class="nav-link-logout" href="/users/logout"><span><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
            <path fill-rule="evenodd"
              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
          </svg></span> <span class="txt-logout"></span>Logout</a>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sidebar = document.getElementById('sidebar');
    const collapseButton = document.getElementById('sidebarCollapse');
    const headerBar = document.getElementById('header-bar')
    const mainContainer = document.getElementById('main-container')
    const sidebarCollapse = document.getElementById('sidebarCollapse')

    // Função para alternar as classes da barra lateral
    function toggleSidebar() {
      sidebar.classList.toggle('collapsed');
      headerBar.classList.toggle('header-bar-expand')
      mainContainer.classList.toggle('mainContainer-expand')
      if(sidebarCollapse.innerHTML == "&lt;"){
        sidebarCollapse.innerHTML = "&gt;"
      }else{
        sidebarCollapse.innerHTML = "&lt;"
      }
      
    }

    // Adicionar um ouvinte de evento ao botão de expansão/recolhimento
    collapseButton.addEventListener('click', toggleSidebar);
  });
</script>