.container-dashboards {
    background: #F2F1EF;
    margin: 0px 20px;
    padding: 0px 30px 30px;
}

.title-page {
    font-family: Anton;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breadcrumb {
    font-size: 12px;
    font-style: normal;
    color: #757474;
    padding-left: 20px;
}

.btn-carousel-dashboards-next,
.btn-carousel-dashboards-prev {
    align-items: flex-end;
    position: static;
}

.col-btn-carousel-dashboards-prev {
    padding-left: 45% !important;
}

.status-dash {
    border-radius: 100px;
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-family: K2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 10px;
}

.active {
    background: transparent !important;
}

.title-dash-list {
    color: #000;
    font-family: K2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.project-dash-list {
    color: #000;
    font-family: K2D;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#modal-delete {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.upload-area {
    border-radius: 4px;
    border: 1px dashed #808080;
    background: rgba(198, 198, 198, 0.20);
    cursor: pointer;
    display: none;
}

.upload-area-modal {
    border-radius: 4px;
    border: 1px dashed #808080;
    background: rgba(198, 198, 198, 0.20);
    padding: 40px;
}

#dashboard-image {
    display: none;
}


#modal-upload-image,
#confirm-modal-image {
    display: none;
}

.form-control {
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.20);
    background: var(--just-colors-010, #FBFAF7);
}

.btn-back-modal {
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.20);
    background: var(--just-colors-010, #FBFAF7);
    width: 160px;
    height: 48px;
    flex-shrink: 0;
}

#save-dashbord,
.btn-confirm-form {
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.20);
    background: var(--just-colors-003, #97CCBD);
    width: 160px;
    height: 48px;
    flex-shrink: 0;
}



#addUrlField,
#addUrlFieldMob {
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.20);
    background: #D2E4DD;
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-inform {
    color: #808080;
    font-family: K2D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input::placeholder,
select:required:invalid {
    color: #808080;
    font-family: K2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#save-dashbord {
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btn-confirm-form:hover {
    background: #a0d8c8;
    border: inherit;
}

/*MODO ESCURO*/
#dark-mode .container-dashboards {
    background: var(--just-colors-008, #1C1B1D);
}

#dark-mode .container-dashboards h4,
#dark-mode .container-dashboards p {
    color: #FFF
}

.btn-addurl-mobile {
    display: none;
}

.col-btn-addurl-desktop {
    display: block;
}

.col-btn-remove-url-mobile {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {

    #input-filter-desk {
        display: none;
    }

    .container-dashboards {
        margin: 0;
    }

    .btn-addurl-mobile {
        display: block;
        margin-top: 20px;
    }

    .col-btn-addurl-desktop {
        display: none;
    }

    #urlFields label {
        display: none;
    }

    #urlFields .form-control {
        margin-bottom: 12px;
    }

    .row-url-fields {
        border-radius: 4px;
        background: #FFF;
        padding: 10px 5px 0px 5px;
        margin: 10px 5px;
    }

    .col-btn-remove-url-mobile {
        display: block;
        text-align: end;
        padding-bottom: 20px;
    }

    .svg-remove-desktop {
        display: none;
    }


}