@import url(https://fonts.googleapis.com/css2?family=Anton&family=K2D:wght@500&display=swap);

.row-footer-mobile {
    display: none;
}

html,
body {
    overflow-x: hidden;
    background: white !important;
}

#bg-login {
    background-image: url('/img/bg-login.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding: 0px 70px;
    margin-bottom: -125px;
}

#img-login {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

#bg-login:fullscreen {
    background-color: #fbfaf7;
}

#card-login {
    border-radius: 0px;
    position: absolute;
    width: 38%;
    height: auto;
    left: 21%;
    top: 50%;
    flex-shrink: 0;
    background: #EAE9E8;
    align-items: center;
    border: none;
    z-index: 10;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
}

label {
    color: #000 !important;
}

.input-login {
    border-radius: 4px !important;
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

#btn-login {
    display: flex;
    width: 300px;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--just-colors-008, #1C1B1D);
    font-size: 11px;

}

#logo-just {
    width: 85%;
}

.col-workspace-login {    
    background: linear-gradient(180deg, #07C38D 0%, #0DFFBA 100%);
    background-position: left;    
    background-repeat: no-repeat;
    padding-left: 0;
    padding-top: 70px;
    padding-bottom: 5px;    
}

.p-login-ola {
    margin-bottom: 0 !important;

}

.p-login {
    font-family: Anton;
    font-size: 60px;
    font-weight: 400;    
    letter-spacing: 0em;
    text-align: left;
    margin-left: -20px;
    line-height: 1.2em;
    z-index: 100;
    position: relative;
    color: var(--just-colors-008, #1C1B1D);
}


.col-form-login {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-body {
    display: flex;
    align-items: center;
}

.form-control {
    display: flex;    
    padding: 11px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 2px solid var(--just-colors-008, #1C1B1D);
}

.form-group {
    margin-bottom: 10px;
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-check-label {
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-social {
    padding-top: 2%;
}

.footer-row-login {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 100%;
    z-index: 100;
}

.footer-row-login p {
    color: var(--just-colors-008, #1C1B1D);
    font-family: K2D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 18.2px */
}

.footer-row-login .col-3,
.footer-row-login .col-2 {
    padding: 0;
}

footer {
    z-index: 1 !important;
}







































/* -------------------------------------------------------------------------------------------------------------- */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    #bg-login {
        background-image: url('/img/bg-login-mobile.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 60%;
        padding: 30px 20px 0px;
        background-position-y: 22%;
    }

    #logo-just {
        width: 185px;
        padding-bottom: 80px;
    }



    .col-workspace-login {
        background: linear-gradient(180deg, #07C38D 0%, #0DFFBA 100%);
        background-position: left;
        background-size: 50%;
        background-repeat: no-repeat;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 5px;

    }


    .col-login-ola {
        display: none;
    }

    #card-login {
        margin-top: 20px;
        border-radius: 0px;
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        top: auto;
        flex-shrink: 0;
        background: transparent;
        align-items: center;
        border: none;
        z-index: 10;
    }

    .footer-social {
        padding-top: 0;
    }

    .col-form-login {
        padding-top: 20px;
    }

    .row-footer-desktop {
        display: none;
    }

    #row-footer-mobile {
        display: block !important;
    }

    .card-body {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .input-login {
        width: 100% !important;

    }

    #btn-login {
        width: 100% !important;
    }

    footer {
        padding: 0px 30px;
    }

    .p-footer-copy {
        color: var(--just-colors-008, #1C1B1D);
        text-align: center;
        font-family: K2D;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
    }

    .row-footer-mobile {
        display: flex;
    }
}