@import url(https://fonts.googleapis.com/css2?family=Anton&family=K2D:wght@500&display=swap);

#main-container {
  padding-right: 50px;
  padding-left: 17%;
}

body {
  background: #FBFAF7;
}

.card-img-top{
  height: 100px;
  border-radius: 0;
}

/* Estilos personalizados para o menu lateral */
.sidebar {
  height: 100%;
  width: 15.8%;
  position: fixed;
  top: 0;
  left: 0;
  background: #F2F1EF;
  padding: 46px 13px 0px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Modo escuro */
#dark-mode body .sidebar {
  background: var(--just-colors-008, #1C1B1D);
  color: #fff;
}

/* Modo escuro */
#dark-mode body,
#dark-mode #input-search-term {
  background: #2E2D2F;
  color: #fff;
}

#dark-mode #header-bar {
  background: var(--just-colors-008, #1C1B1D);
}

#dark-mode .txt-menu {
  color: #FFF;
}

#dark-mode .sidebar svg {
  fill: #FFF;
}

.sidebar img {
  width: 94%;
  display: block;
  margin-bottom: 54px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 8px 10px;
  text-align: left;
  margin-bottom: 4px;
}

.sidebar li a {
  color: var(--just-colors-008, #1C1B1D);
  font-family: K2D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.sidebar li a .txt-menu,
.txt-logout {
  margin-left: 10px;
}

.active {
  border-radius: 4px;
  background: var(--just-colors-005, #84FFDE);
}

.header-bar {
  background: #F2F1EF;
  height: 88px;
  padding: 20px 20px 0px 16.5%;

}

body {
  overflow-x: hidden;
  font-family: K2D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.nav-link-logout {
  text-decoration: none;
  color: var(--just-colors-008, #1C1B1D);
  font-family: K2D;
}

.logout {
  text-align: left;
  margin-top: 90%;
  padding-bottom: 20px;
  padding-left: 20px;
}

.search {
  position: relative;
  width: 100%;

}

.search input {

  border-radius: 0;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(201, 201, 201, 0.20);
  background: var(--just-colors-010, #FBFAF7);
  padding-left: 50px;


}

.search .fa-search {

  position: absolute;
  top: 9px;
  left: 15px;

}

.col-search-input {
  padding-left: 0;
}

.btn-navbar {
  display: flex;
  width: 100%;  
  padding: 15px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--just-colors-010, #FBFAF7);
  color: #757474;
  font-family: K2D;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}



.btn-navbar:hover {
  color: #F90196;
}

a.txt-btn-navbar {
  text-decoration: none;
}

.collapsed {
  width: 70px;
  padding: 20px 10px;
}

.collapsed ul li .txt-menu {
  display: none;
}

.header-bar-expand {
  padding-left: 110px;
}

.mainContainer-expand {
  padding-left: 85px !important;
}

.btnCollapse {
  border-radius: 80px;
}

/* Estilo para a div que envolve o botão de expandir/recolher */
#sidebar .btnCollapse {
  text-align: right;
  position: absolute;
  bottom: 10px;
  width: 100%;
  right: -15px;
}

/* Estilo para o botão de expandir/recolher */
#sidebar .btnCollapse button {
  margin: 0;
  padding: 10px 10px;
  /* Ajuste o espaçamento interno conforme necessário */
  border-radius: 50px;
}

/* Estilo para o botão de expandir/recolher quando a barra estiver recolhida */
#sidebar.collapsed .btnCollapse {
  text-align: center;
  /* Centralize o botão quando a barra estiver recolhida */
  right: -40px;
}

.footer-social {
  padding-top: 10%;
}

footer {
  margin-top: auto;
  padding-top: 70px;
  padding-right: 2%;
  width: 100%;
  z-index: -1;
}

.set-mode {
  bottom: 40px;
  position: absolute;
  text-align: center;
  border-radius: 100px;
  background: #FBFAF7;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 12px;
}

.btn-dark-mode {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 100%;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.btn-dark-mode span {
  transition: transform 0.3s ease-in-out;
}

.mode-selected {
  border-radius: 100px;
  background: #F2F1EF;
  padding: 2px 5px;
  transform: translateX(0%);
}

#dark-mode .item-menu-ativo span{
  color: #1C1B1D;
}

#dark-mode .sidebar .item-menu-ativo svg{
  fill: #1C1B1D
}

#dark-mode .breadcrumb{
  color: #FBFAF7;
}

#dark-mode .search svg{
  stroke: #FBFAF7
}

#dark-mode .set-mode{
  background: #312F33;
}

#dark-mode .mode-selected{
  color: #312F33;
}

#dark-mode .mode-selected svg{
  fill: #312F33;
}

#dark-mode #mode-light svg{
  fill: #CFCFCF;
}

#dark-mode .txt-menu:hover{
  color:#1C1B1D !important
}

#dark-mode ::placeholder{
  color: #FBFAF7;
}

.btn-dark-mode svg {
  margin-right: 5px;
}

.selected-mode-light {
  border-radius: 100px;
  background: #F2F1EF;
}

footer p {
  color: var(--just-colors-008, #1C1B1D);
  font-family: K2D;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 18.2px */
}

#dark-mode footer p {
  color: #FFF;
}

footer .col-3,
footer .col-2 {
  padding: 0;
}

.item-menu:hover {
  border-radius: 4px;
  background: var(--just-colors-005, #84FFDE);

}



.item-menu-ativo {
  border-radius: 4px;
  background: var(--just-colors-005, #84FFDE);
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  width: 41%;
  min-height: 50%;
  height: auto;
  margin: 100px auto;
  padding: 5%;
}

.modal {
  background: rgba(0, 0, 0, 0.48);
}

.btn-confirm-modal:hover {
  background: var(--just-colors-003, #9fd6c7);
}

.btn-confirm-modal {
  border-radius: 4px;
  border: 1px solid rgba(201, 201, 201, 0.20);
  background: var(--just-colors-003, #97CCBD);
  width: 160px;
  height: 48px;
  flex-shrink: 0;
}

#photo-user {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.dropdown-toggle::after {
  border: none !important;
}

.dropdown-item:hover {
  background: #D4FFF4;
}


#navbar-mobile {
  display: none;
}


#header-bar {
  display: flex;
}

#sidebar {
  display: block;
}

.bi-star {
  color: #FCC400;
  font-size: 18px;
  cursor: pointer;
}

.bi-star-fill {
  color: #FCC400;
  font-size: 18px;
  cursor: pointer;
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  #navbar-mobile {
    display: block !important;
    background: #F2F1EF;
  }

  #header-bar {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #main-container {
    padding: 20px !important;
  }

  .item-menu{
    padding-bottom: 5px;
  }

  .item-menu a{
    text-decoration: none;
    color: inherit;
    line-height: 1.2em;    
  }
}





