<style>
    #bg-login {
        background-image: url('/img/background-login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #card-login {
        border-radius: 0px;
        padding: 110px 96px 48px !important;
        background-color: rgba(242, 242, 242, 0.8);
    }

    label {
        color: #000 !important;
    }

    input{
        border-radius: 4px !important;
    }

    #btn-login {
        background: #07C38D;
        border-radius: 4px;
        left: 159px;
        top: 300px;
        padding: 8px 16px 8px 16px;
        font-size: 18px;
        font-weight: 700;
        color:#f2f2f2;    
        box-shadow: 4px 4px 6px 0px #00000026 !important;
        border: none;

    }

    #logo-just{
        background-color: #FFF;
        border-radius: 50%;
        margin-bottom: -62px;
        position: relative;
        z-index: 100000;
        width: 120px;
        
    }
</style>

<div class="container-fluid" id="bg-login">
    <div class="row align-items-center min-vh-100">
        <div class="col-3"></div>
        <div class="col-6 p-5">
            <div class="col text-center">
                <img src="/img/logo-just-login.png" alt="Logo Just" id="logo-just">
            </div>
            
            <div class="card p-2" id="card-login">
                <div class="card-body">
                    <form action="/users/login" method="POST">
                        <input type="hidden" name="name_customer" value="{{customer.name}}">
                        <label for="email">Email </label>
                        <input type="email" class="form-control" name="email" required>
                        <label class="mt-3" for="password">Senha </label>
                        <input type="password" class="form-control" name="password" required>
                        <div class="col text-center">
                            <button class="btn btn-success mt-4" id="btn-login">Entrar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>